* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1a2036;
  --card: #252b42;
  --title: #b1b9d8;
  --card-bg: #2E3650 ;
}

body {
  background-color: var(--background);
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.card-content {
  margin: 0 auto;
  background-color: var(--card);
  width: 975px;
  height: 662px;
  border-radius: 25px;
  color: var(--title);
  font-family: 'Merriweather', serif;
}

.card-container {
  display: flex;
  padding: 35px 60px 35px 35px;
}

.title {
  display: flex;
  align-items: center:
  gap: 5px;
}

.title img {
    width: 32px;
    height: 32px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 158px 15px;
  background-color: var(--background);
  gap: 5px;
  width: 88px;
  height: 592px;
  border-radius: 20px;
}

aside img {
width: 100%;
height: auto;
max-width: 32px;
display: block;
}

aside img:hover {
  background-color: var(--card);
  border-radius: 10px;
  cursor: pointer;
}

.wrapper {
display: flex;
flex-direction: column;
width: 100%;
padding: 25px 60px 0 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}


.create {
    background-color: var(--card-bg);
    width: 173px;
    height: 208px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create button {
    border: none;
    background-color: var(--background);
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.switch button{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--background);
}

.switch button img:first-child {
    background-color: var(--background)
}

.switch button {
    background-color: transparent;
    border: none;
}
