* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1a2036;
  --card: #252b42;
  --title: #b1b9d8;
  --bg-create: #2e3650;
}

body {
  background-color: var(--background);
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.card-content {
  margin: 0 auto;
  background-color: var(--card);
  width: 975px;
  height: 662px;
  border-radius: 25px;
  color: var(--title);
  font-family: "Merriweather", serif;
}

.card-container {
  display: flex;
  padding: 35px 60px 35px;
}

.title {
  align-items: center;
  display: flex;
  gap: 5px;
}

.title img {
  width: 32px;
  height: 32px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 158px 15px;
  background-color: var(--background);
  gap: 5px;
  width: 88px;
  height: 552px;
  border-radius: 20px;
}

aside img:hover {
  background-color: var(--card);
  border-radius: 10px;
  padding: 13px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 60px 0 40px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
}

.create {
  background-color: var(--bg-create);
  width: 173px;
  height: 208px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.create button {
  border: none;
  background-color: var(--background);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.create span {
  font-size: 14px;
  font-weight: 500;
}

.switch {
  display: flex;
  align-items: center;
}

.switch button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.switch button:first-child {
  border-radius: 10px 0 0 10px;
  background-color: var(--background);
}

.switch button:last-child {
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--background);
}
.group-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
